
.intro {
	margin-bottom: 35px;
}

.intro h1, .intro p {
	text-align: center;
}

.repos {
	margin: 0 auto;
	margin-top: 20px;

	border:solid;
	border-color: var(--font-color);
	border-radius: 3px;
}

.repos a, .repos p {
	margin-left: 10px;
}

.repos a {
	font-weight: bold;
}

.repoContainer {
	margin-bottom: 25px;
}

.repoContainer h2 {
	margin-top: 200px;
	text-align: center;
}